# running in debug mode or not ?
NYUSEU_FRONT_DEBUG = False
# number of feeds to get for each page
NYUSEU_PAGINATOR = 20
# host
NYUSEU_FRONT_HOST = 127.0.0.1
# listen port number
NYUSEU_FRONT_PORT = 8001
# BASE URL
NYUSEU_FRONT_BASE_URL = '/'
NYUSEU_HOST = 127.0.0.1
NYUSEU_PORT = 8002