{% extends "base.html" %}
{% block content %}
<div class="col-xs-2 col-md-2 col-lg-2">
    {% for line in folders %}
    <div class="accordion" id="accordionFolder">
      <div class="card">
        <div class="card-header" id="heading{{ line.id }}">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse{{ line.id }}"
                    aria-expanded="true"
                    aria-controls="collapse{{ line.id }}">
                {{ line.title }}
            </button>
          </h2>
        </div>
        {% for feed in folders_and_feeds %}
          {% if feed['folder']['id'] == line.id %}
        <div id="collapse{{ line.id }}" class="collapse" aria-labelledby="heading{{ line.id }}" data-parent="#accordionFolder">
          <div class="card-body">
            <a href="{{ url_for('get_arts_by_feed', feeds_id=feed.id) }}">{{ feed.title }}</a>
          </div>
        </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
</div>
<div class="col-xs-10 col-md-10 col-lg-10">
    <div class="row row-cols-1 row-cols-md-3">
    {% for article in articles %}
        <div class="col mb-4 card-deck">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <h6 class="card-subtitle">{{ article.date_created }}</h6>
                <p class="card-text">{{ article.text |safe }}</p>
              </div>
              <div class="card-footer">
                  <small class="text-muted">Action 1</small> - <small class="text-muted">Action 2</small>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}